/* Estilos generales */
body {
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #f0f8ff; /* Fondo claro */
    margin: 0;
    padding: 0;
	 background-image:url('../img/bkg.jpg');
}

header {
	background-image:url('../img/ban1.jpg');
	background-size: contain;
    color: #333;
    padding: 1rem;
}
/* Estilos para los títulos */
.page-title {
    text-align: center;
    font-size: 36px;
    color: #ff5722; /* Naranja vibrante */
    margin: 10px 0;
}

.page-subtitle {
    text-align: center;
    font-size: 24px;
    color: #ff9800; /* Amarillo */
    margin: 10px 0;
}

/* Estilos para la barra de búsqueda */
.search-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #ffd54f;
		background-image:url('../img/ban1.jpg');
			background-size: contain;
}

.search-container input {
    width: 60%;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
    border: 2px solid #ff9800;
}

/* Estilos para la galería */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.gallery-item {
    background-color: #ffeb3b; /* Amarillo brillante */
    border: 2px solid #ff9800; /* Bordes naranja */
    border-radius: 15px;
    width: 170px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.gallery-item:hover {
    transform: scale(1.20);
}

.gallery-item img {
    width: 90%;
	margin: 5px;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.gallery-description {
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: 1% auto; /* Margen superior e inferior */
    padding: 18px; /* Espacio interno alrededor del video */
    background-color: #ffeb3b;
    border-radius: 10px;
    max-width: 65%; /* Ajustar el ancho máximo del contenedor para que no sea tan grande */
    position: relative;
    display: flex; /* Usar flex para centrar el contenido */
    justify-content: center; /* Centrar el contenido horizontalmente */
}

/* Ajustes para el video */
.modal video {
    width: 100%; /* El video ocupará el 100% del ancho del contenedor */
    height: auto; /* Mantener la proporción del video */
    border-radius: 10px; /* Bordes redondeados */
}



.close {
    position: absolute;
    top: -25px; /* Subir la "X" al borde superior */
    right: 0px; /* Ajustar la posición horizontal si es necesario */
    cursor: pointer;
    font-size: 50px; /* Hacer la "X" más grande */
    color: #ff5722;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.phone-number {
    font-size: 2em;         /* Tamaño grande */
    color: #00BFFF;         /* Color celeste */
    padding: 5px;           /* Espacio alrededor del texto */
    border-radius: 5px;     /* Bordes redondeados */
}

/* Menú hamburguesa */
.hamburger-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1001;
    color: #ff5722; /* Naranja vibrante */
}

.hamburger-menu {
    position: fixed;
    top: 0;
    left: -250px; /* Fuera de la pantalla por defecto */
    width: 250px;
    height: 100%;
    background-color: #00bcd4; /* Azul vibrante */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease; /* Transición suave */
    z-index: 1000;
    padding-top: 60px;
}

.hamburger-menu.active {
    left: 0; /* Se despliega el menú */
}

.hamburger-menu ul {
    list-style: none;
    padding: 0;
}

.hamburger-menu li {
    padding: 15px;
}

.hamburger-menu a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: background-color 0.3s;
}

.hamburger-menu a:hover {
    background-color: #0288d1; /* Azul oscuro */
}

/* Estilo para el menú horizontal */
.horizontal-menu {
    display: flex;
    justify-content: left; /* Centra el menú horizontalmente */
    margin: 20px 0; /* Espaciado superior e inferior */
}

.menu-button {
    background-color: #ff9800; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 15px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    text-decoration: none; /* Sin subrayado */
    font-family: 'Comic Sans MS', sans-serif; /* Fuente Comic Sans */
    font-weight: bold; /* Negrita */
    font-size: 18px; /* Tamaño de fuente */
    margin: 0 10px; /* Margen entre los botones */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

.menu-button:hover {
    background-color: #ff5722; /* Color de fondo al pasar el ratón */
}

.menu-button-bk {
    background-color: #31c106; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 15px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    text-decoration: none; /* Sin subrayado */
    font-family: 'Comic Sans MS', sans-serif; /* Fuente Comic Sans */
    font-weight: bold; /* Negrita */
    font-size: 18px; /* Tamaño de fuente */
    margin: 0 10px; /* Margen entre los botones */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

.menu-button-bk:hover {
    background-color: #218702; /* Color de fondo al pasar el ratón */
}

.menu-button-mm {
    background-color: #0098d4; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 15px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    text-decoration: none; /* Sin subrayado */
    font-family: 'Comic Sans MS', sans-serif; /* Fuente Comic Sans */
    font-weight: bold; /* Negrita */
    font-size: 18px; /* Tamaño de fuente */
    margin: 0 10px; /* Margen entre los botones */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

.menu-button-mm:hover {
    background-color: #1880a9; /* Color de fondo al pasar el ratón */
}